%h1 Leads
%table{:class => "table table-striped"}
  %thead
    %tr
      %th
        = t("activerecord.attributes.lead.title", :default => t("activerecord.labels.title", :default => "Title"))
      %th Post Date
      %th Actions
  %tbody
    - @leads.each do |lead|
      %tr
        %td= link_to lead.title, lead_path(lead)
        %td= lead.post_date.strftime("%B %d, %Y at %I:%M%p")
        %td
          = link_to "Show", lead_path(lead)
          = link_to "Edit", edit_lead_path(lead)
          = link_to "Delete", lead_path(lead), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= will_paginate @leads, :renderer => BootstrapPagination::Rails